body{
    background: rgba(242, 244, 244);
}


form{
    width: 450px;
    margin: auto;
    background: rgba(130, 224, 170,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;  
}
.filaA {
    
    background: #8cb3d9;
    font-size: 32px; 
    color: aliceblue;
}

h1{
    color: black;
    text-align: center;
    margin: 0;
    font-size: 40px;
    margin-bottom: 20px;
    background: rgba(130, 224, 170,0.5);

}

input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    border-radius: 7px;  

    
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    
}

#botton{
    background: gray;
    color: white;
    padding: 10px;
}
